

/*
Google-fonts

font-family: 'Roboto Condensed', sans-serif;
font-family: 'Raleway', sans-serif; normal and bold 400, 700
font-family: 'Dancing Script', cursive;

*/


body {
  position: relative;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;  
  color: maroon;
}

strong {
  font-style: bold;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
  margin-bottom: 5px;

}

h3 {
	font-size: 24px;
  color:#000;
  margin: 8px 0 10px 0;


}

p {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 300;
  font-family: 'Roboto Condensed', sans-serif;
  margin-left: 2px;
}
.normal {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  font-family: 'Roboto Condensed', sans-serif;
}

p.challenge {
  margin-top: 5px;
  font-family: 'Dancing Script', cursive;
  font-size: 26px;
  margin-bottom: 6px;
}


li {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 300;
  font-family: 'Roboto Condensed', sans-serif;
  margin-left: 2px;
}

a {
  cursor: pointer;
  
  font-size: inherit;
 
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {	
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #eee;
  border-bottom: 3px solid #000;
  padding: 15px;
  color: #990000;
}


/*give header nav a bit of space*/
header nav {
  margin: 20px 0 0;
}

/*all nav ul li should have a 5px padding*/
header nav ul li {
  padding: 5px;
  /*and a cursor pointer*/
  cursor: pointer;
}

/*only make first level li tags inline block */
header nav > ul > li {
  display: inline-block;
  /*vertical aling ensures inline elements stay at top when they expand (submenus!)*/
  vertical-align: top;
}


header nav ul ul {
  display: none;

  background-color: #fff;
}

header nav ul li:hover {
  background-color: #eee;
 
  border-radius: 5px;
}

header nav ul li:hover > ul {
  display: block;
}

main {

  padding-top: 65px;
  padding-bottom: 170px;
}

section {
  margin: 0 0 0 0;
  padding: 5px;
  padding-bottom: 5px;
}

section.playerselect {
  margin: 0 0 0 0;
}

article {
  margin: 0 auto;
  padding: 15px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 170px;
  background-color: #fff;
  /*border-top: 1px solid black;*/
  padding: 15px;  
}

section form {
  padding: 1.1em;
}
section form label:after {
  content: "";
  display: block;
}

section form input[type="text"]{
  display: block;
}

section form select {
	width: 11.3em;
}


section form input[type="submit"]{
  display: block;
  margin-top: 20px;
}

label {
	margin-left: .5em;
    width: 13em;
    float: left;
    padding-right: 1em;
    padding-bottom: .5em;
}



button.acceptChallengeBtn {
    background: #b7d770;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cae285', endColorstr='#9fcb57'); /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#cae285), to(#9fcb57)); /*  WebKit */
    background: -moz-linear-gradient(top,  #cae285, #9fcb57);
    border-color: #adc671 #98b65b #87aa4a;
    border-radius: 5px;
    color: #5d7731;
    text-shadow: 0 1px 0 #cfe5a4;
    -webkit-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #d7e9a4;
    -moz-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #d7e9a4;
    box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #d7e9a4;  

}

button.acceptChallengeBtn:hover{
    background: #b9d972;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8d872', endColorstr='#b9d972'); /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#b8d872), to(#b9d972)); /*  WebKit */
    background: -moz-linear-gradient(top,  #b8d872, #b9d972);
    border-color: #8bb14d #83a648 #7d9e45;
    text-shadow: 0 1px 0 #d5e8aa;
    -webkit-box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #cae295;
    -moz-box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #cae295;
    box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #cae295;    
}

button.changeChallengeBtn {
background-color: yellow;

}

button.changeChallengeBtn{
    background: #fecc5f;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#feda71', endColorstr='#febb4a'); /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#feda71), to(#febb4a)); /*  WebKit */
    background: -moz-linear-gradient(top,  #feda71, #febb4a);
    border-color: #f5b74e #e5a73e #d6982f;
    border-radius: 5px;
    color: #996633;
    text-shadow: 0 1px 0 #fedd9b;
    -webkit-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #fee395;
    -moz-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #fee395;
    box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #fee395;   
    margin-left: 6px; 
}
button.changeChallengeBtn:hover{
    background: #fecb5e;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fec354', endColorstr='#fecd61'); /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#fec354), to(#fecd61)); /*  WebKit */
    background: -moz-linear-gradient(top,  #fec354, #fecd61);
    border-color: #d29a3a #cc9436 #c89133;
    text-shadow: 0 1px 0 #fee1a0;
    -webkit-box-shadow: 0 1px 1px #d4d4d4, inset 0 1px 0 #fed17e;
    -moz-box-shadow: 0 1px 1px #d4d4d4, inset 0 1px 0 #fed17e;
    box-shadow: 0 1px 1px #d4d4d4, inset 0 1px 0 #fed17e;    
}


/*#buttons input {
    float: left;
    margin-bottom: .5em;
    margin-top: .8em;
}
*/
br {
    clear: left;
}

